.trousers {
    width: 100%;
}

.trousers>h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

.trousers-image {
    width: 100%;
}

.trousers-image img {
    width: 100%;
}

/* input{
    display: none;
} */