.clothes-home {
    width: 100%;
}

.clothes-home>h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
}

.clothes-image {
    width: 100%;
}

.clothes-image img {
    width: 100%;
}

/* header input {
    width: 100%;
    border: 0px solid #e0dfdf5d;
    padding: 0px;
    margin: 0px 0px 0px 16px;
    background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 20px;
    background-size: 16px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 0 !important;
} */

.right-nav {
    margin: 50px 0 0 70px;
    font-size: 25px;
    width: 40%;
    box-sizing: border-box;
}
.sub-nav a {
    display: flex;
    font-size: 12px;
    /* float: right; */
    text-align: center;
}
sub h6 {
    text-align: center;
}
.right-nav .sub-nav{
    padding: 0;
    margin:0;
    display: inline-block;
    cursor: pointer;
}

.model-image {
    position: absolute;
    left: 6px;
    padding-bottom: 20px;
    overflow: hidden;
}
.right-nav:hover .sub-nav{
    background-color: #ccc;

}